---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import { Image } from 'astro:assets';
import now_reading from '../assets/steph_v2.webp';
import pfp from '../assets/xmas-spidey.png';
import Socials from '../components/Socials.astro';

---

<Layout title="Kiplings">
	<main>
		<div class="flex flex-col h-screen justify-start md:gap-4  md:mt-[15vh] mt-[5vh]">
			<Navbar/>
            <div class="flex items-center w-screen justify-center bg-cover">
                <div class="flex flex-col items-center">
					<div transition:name="main-block" class="flex flex-col gap-6 w-full max-w-4xl rounded-lg md:border border-secondary p-8">
						<div class="flex md:flex-row flex-col gap-3">
							<div class="flex flex-col">
								<div class="flex flex-row gap-4">
									<Image class="max-w-32 max-h-32 rounded-full" src={pfp} alt=""/>
									<div class="flex flex-col max-w-fit">
										<h1 class="text-4xl font-bold text-primary">Kiplings</h1>
										<p>(he/him)</p>
										<div class="bg-secondary h-px my-2 max-w-full"></div>
									</div>
								</div>
								<div class="flex flex-col mt-4 gap-1.5 leading-8">
									<h1 class="font-bold text-2xl">Anime</h1>
									<p class="">Anime has been a huge part of my life since I was a very young teen. The first one I ever watched was Squid Girl, of all things, purely because at the time I was extremely excited for the release of Splatoon. I'm glad that I was able to experience so many incredible stories because of such a small choice I made years ago. If you'rea reading this, you should absolutely check out <a href="https://anilist.co/anime/12189/Hyouka" class="font-medium text-primary hover:underline">Hyouka</a> It's easily my favorite anime of all time and I highly recommend everyone give it a shot, it will always have a special place in my heart! :)</p>
									<h1 class="font-bold text-2xl">Comics</h1>
									<p class="">As long as I can remember, I've adored the world of superhero comics. Some of my earliest memories are playing the original Lego Batman and watching the 2003 Teen Titans cartoon.</p>
									<h1 class="font-bold text-2xl">Cosplay</h1>
									<p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam rerum consequuntur tempore velit maxime eius. Autem aperiam consequuntur hic nulla accusantium ea aliquam. Necessitatibus earum nemo explicabo provident ullam obcaecati?</p>
									<h1 class="font-bold text-2xl">Anime</h1>
									<p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam rerum consequuntur tempore velit maxime eius. Autem aperiam consequuntur hic nulla accusantium ea aliquam. Necessitatibus earum nemo explicabo provident ullam obcaecati?</p>
								</div>
							</div>
							<div class="flex flex-col md:self-start self-center justify-center items-center gap-4 max-w-64 min-w-64">
								<h1 class="text-2xl font-bold text-primary">Currently Reading:</h1>
								<a href="https://leagueofcomicgeeks.com/comics/series/111300/batgirl" target="_blank">
									<Image class="rounded-md border border-slate-300" src={now_reading} alt=""/>
								</a>
							</div>
						</div>						
					</div>
                </div>
            </div>
		</div>
	</main>
</Layout>
