---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import { Image } from 'astro:assets';
import now_reading from '../assets/steph_v1.jpg';
import pfp from '../assets/xmas-spidey.png';
import Socials from '../components/Socials.astro';

---

<Layout title="Kiplings">
	<main>
		<div class="flex flex-col h-screen justify-start md:gap-4  md:mt-[15vh] mt-[5vh]">
			<Navbar/>
            <div class="flex items-center w-screen justify-center bg-cover">
                <div class="flex flex-col items-center">
					<div transition:name="main-block" class="flex flex-col gap-6 w-full max-w-4xl rounded-lg md:border border-[#45414c] p-8">
						<div class="flex md:flex-row flex-col gap-3">
							<div class="flex flex-col">
								<div class="flex flex-row gap-4">
									<Image class="max-w-32 max-h-32 rounded-full" src={pfp} alt=""/>
									<div class="flex flex-col max-w-fit">
										<h1 class="text-4xl font-bold text-primary">Kiplings</h1>
										<p>(he/him)</p>
										<div class="bg-[#45414c] h-px my-2 max-w-full"></div>
									</div>
								</div>
								<!-- <h1 class=" text-2xl">Welcome!</h1> -->
								<p class="py-4">Welcome! This is a page where I can talk about or showcase little hobbies of mine.</p>
								<p class="">This is also a place for me to brush up on my web developement knowledge, as limited as it is. 
									You'll mainly find ramblings on comic books, anime, games, and more. 
									Here's what I'm going through!</p>
							</div>
							<div class="flex flex-col justify-center items-center self-center gap-4 max-w-64 min-w-64">
								<h1 class="text-2xl font-bold text-primary">Currently Reading:</h1>
								<a href="https://leagueofcomicgeeks.com/comic/5293858/ultimate-spider-man-12" target="_blank">
									<Image class="rounded-md border border-slate-300" src={now_reading} alt=""/>
								</a>
							</div>
						</div>						
					</div>
                </div>
            </div>
		</div>
	</main>
</Layout>
