---
import Layout from '../layouts/Layout.astro';
import BlogPost from '../components/BlogPost.astro';
import { Image } from 'astro:assets';
import waiting from '../assets/waiting-spidey.webp';
import ContentLayout from '../layouts/ContentLayout.astro';

---

<ContentLayout title="About">
	<div class="grid md:grid-cols-[30vw_30vw] grid-cols-[75vw] items-center w-screen justify-center justify-items-center gap-8 ">
		<BlogPost/>
		<BlogPost/>
	</div>
</ContentLayout>
