---
import Layout from '../layouts/Layout.astro';
import Relic from '../components/Relic.astro';
import Navbar from '../components/Navbar.astro';
import { Image } from 'astro:assets';
import hsr_banner from '../assets/hsr_banner2.png';
import resin from '../assets/resin.webp';
import RelicSearch from '../components/RelicSearch.astro';
---

<Layout title="Kiplings Blog">
	<main>
		<div class="flex flex-col overflow-x-hidden">
			<Navbar></Navbar>
            <div class="flex items-center w-screen h-[50vh] justify-center bg-cover" style={`background-image: url(${hsr_banner.src});`}>
                <div class="flex flex-col items-center">
                    <Image class="scale-75 drop-shadow-2xl overflow-hidden" src={resin} alt=""/>
                    <h1 class="text-white text-6xl font-bold drop-shadow-2xl">Relic Saving Tool</h1>
                </div>
            </div>
            <RelicSearch></RelicSearch>
            <div class="flex flex-row justify-center gap-6">
                <div class="flex flex-col gap-4">
                    <Relic></Relic>
                    <Relic></Relic>
                    <Relic></Relic>
                    <Relic></Relic>
                </div>
                <div class="flex flex-col gap-4">
                    <Relic></Relic>
                    <Relic></Relic>
                    <Relic></Relic>
                    <Relic></Relic>
                </div>
                <div class="flex flex-col gap-4">
                    <Relic></Relic>
                    <Relic></Relic>
                    <Relic></Relic>
                    <Relic></Relic>
                </div>
                <div class="flex flex-col gap-4">
                    <Relic></Relic>
                    <Relic></Relic>
                    <Relic></Relic>
                    <Relic></Relic>
                </div>
            </div>
        </div>
	</main>
</Layout>
