---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import { Image } from 'astro:assets';
import pfp from '../assets/xmas-spidey.png';
import Socials from '../components/Socials.astro';

---

<Layout title="Kiplings">
	<main>
		<div class="flex flex-col h-screen justify-start gap-4">
			<Navbar/>
            <div class="flex items-center w-screen justify-center bg-cover">
                <div class="flex flex-col items-center">
					<div class="flex flex-col gap-6 w-full max-w-2xl rounded-lg md:border border-[#45414c] p-8">
						<div class="flex md:flex-row-reverse flex-col gap-3">
							<div class="flex flex-col justify-center items-center gap-4">
								<a href="https://leagueofcomicgeeks.com/comic/5293858/ultimate-spider-man-12" target="_blank">
									<Image class="max-w-32 max-h-32 rounded-full" src={pfp} alt=""/>
								</a>
								<Socials/>
							</div>
							<div class="flex flex-col">
								<h1 class=" text-2xl font-bold text-[#a676e8]">Kiplings</h1>
								<p>(he/him)</p>
								<div class="bg-[#45414c] h-px my-2 w-[20%]"></div>
								<h1 class=" text-xl">Welcome!</h1>
								<p class="">Welcome! This is my page where I talk about random little interests of mine, and hopefully help some people out! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, ut aliquip ex ea commodo consequatr occaecat cupidaqui officia deserunt mollit anim id est laborum.</p>
							</div>
						</div>						
					</div>
                </div>
            </div>
		</div>
	</main>
</Layout>
