---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
---

<Layout title="Kiplings Blog">
	<main>
		<div class="flex flex-row">
			<Navbar></Navbar>
		</div>
	</main>
</Layout>
