---
const path = Astro.url.pathname;
const selected = 'text-primary';
---

<div transition:animate="none" class="flex flex-row justify-center md:gap-12 md:mt-[20vh] mt-[5vh]">
    <a href="/" 
        class={`cursor-pointer rounded-lg text-lg p-3 ${path === '/' ? selected : ""}`}
        aria-current="page">
        Home
    </a>
    <a href="/about" 
        class={`cursor-pointer rounded-lg text-lg p-3 ${path === '/about' ? selected : ""}`}
        aria-current="page">
        About
    </a>
    <a href="/blog" 
        class={`cursor-pointer rounded-lg text-lg p-3 ${path === '/blog' ? selected : ""}`}
        aria-current="page">Blog</a>
    <a href="/photos" 
        class={`cursor-pointer rounded-lg text-lg p-3 ${path === '/photos' ? selected : ""}`}
        aria-current="page">
        Photos
    </a>
</div>