<div class="flex flex-row justify-center gap-6 mt-[20vh]">
    <a href="/" class="rounded-md text-lg text-md font-medium" aria-current="page">Home</a>
    <a href="/" class="rounded-md text-lg text-md font-medium" aria-current="page">About</a>
    <a href="/" class="rounded-md text-lg text-md font-medium" aria-current="page">Blog</a>
    <a href="/" class="rounded-md text-lg text-md font-medium" aria-current="page">Photos</a>       
</div>