<div class="fixed top-0 navbar w-screen bg-gray-800 justify-center z-50">
    <div class="flex flex-row">
        <a href="/" class="btn btn-ghost min-w-32 text-purple-400 rounded-md text-lg px-3 py-2 text-md font-medium" aria-current="page">Home</a>
        <a href="/hsr" class="btn btn-ghost min-w-32 text-purple-400 rounded-md text-lg px-3 py-2 text-md font-medium" aria-current="page">Star Rail</a>
        <a href="/" class="btn btn-ghost min-w-32 text-purple-400 rounded-md text-lg px-3 py-2 text-md font-medium" aria-current="page">Projects</a>
        <a href="/" class="btn btn-ghost min-w-32 text-purple-400 rounded-md text-lg px-3 py-2 text-md font-medium" aria-current="page">Projects</a>        
        <a href="/" class="btn btn-ghost min-w-32 text-purple-400 rounded-md text-lg px-3 py-2 text-md font-medium" aria-current="page">Projects</a>
    </div>
</div>