<div class="m-4 w-screen text-white">
    <div class="navbar bg-purple-700 rounded-xl shadow-lg">
        <div class="flex-1">
            <a href="/" class="btn btn-ghost text-xl">
                ProfessorBenchmark 🔥
            </a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li>
                    <a href="/courses" class="btn btn-ghost">
                        Courses
                    </a>
                </li>
                <li>
                    <a href="/professors" class="btn btn-ghost">
                        Professors
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>