---
import "../styles/global.css";
import '@fontsource/karla';
import { ClientRouter } from "astro:transitions";
import { ViewTransitions } from 'astro:transitions';
import Navbar from "../components/Navbar.astro";
import { Image } from 'astro:assets';
import waiting from '../assets/waiting-spidey.webp';


interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<ClientRouter />
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/robin.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body transition:animate="fade" class="bg-[#1F1A26] text-slate-300 text-lg drop-shadow-2xl overflow-x-hidden h-auto">
		<div class="flex flex-col h-screen justify-start gap-4">
			<Navbar/>
			<div class="grid md:grid-cols-[30vw_30vw] grid-cols-[75vw] items-center w-screen justify-center justify-items-center gap-8">
				<slot />
			</div>
		</div>
	</body>
</html>
