---
import ClientRouter from 'astro/components/ClientRouter.astro';
import ContentLayout from './ContentLayout.astro';
import { Image } from 'astro:assets';

const { frontmatter } = Astro.props;
---

<ContentLayout title={frontmatter.title}>
    <ClientRouter />
    <div class="mx-2">
        <h1 class="text-2xl font-bold text-primary text-center mt-[5vh]">{frontmatter.title}</h1>
        <!-- <Image src={frontmatter.image} alt=""></Image> -->
        <div class="p-5 gap-6">
            <!-- <p>{frontmatter.pubDate.toString().slice(0,10)}</p> -->
            <p><em>{frontmatter.description}</em></p>
            <div class="prose dark:prose-invert">
                <slot/>
            </div>
        </div>
    </div>
</ContentLayout>